@import "tailwindcss";
@import "../design-system/styles.css";

/* 
  Global styles that are NOT part of the Design System 
  (e.g., reset, third-party libs) go here.
*/

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
  color: var(--color-neutral-gris-700) !important;
  -webkit-text-fill-color: var(--color-neutral-gris-700) !important;
}

input:-internal-autofill-selected {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
  color: var(--color-neutral-gris-700) !important;
  -webkit-text-fill-color: var(--color-neutral-gris-700) !important;
}
